* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Roboto', sans-serif;
}
body {
	background-color: #EAEDF0;
}
.container {
	max-width: 1030px;
	margin: 0 auto;
}

/* ------Header------ */
.header {
	background-color: #89B0C0;
	color: #fff;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	
}
.header__logo {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: flex-end;
}
.logo__ferst {
	font-family: 'Didact Gothic', sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 13px;
	user-select: none;
}
.logo__second {
	font-family: 'Trade Winds',	cursive;
	font-size: 28px;
	line-height: 30px;
	user-select: none;
}
.header__user {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.balanse {
	font-size: 24px;
	margin-right: 17px;
	cursor: pointer;
	font-family: 'Fira Code', monospace;
	font-weight: 300;
	letter-spacing: -2px;
	user-select: none;
}
.balanse .fa-rub {
	font-size: 21px;
	margin-left: 5px;
	user-select: none;
}

.user__message {
	position: relative;
	width: 24px;
	height: 25px;
	background-image: url('/img/user-mess.svg');
	background-size: 24px;
	background-repeat: no-repeat;
	margin-right: 17px;
	cursor: pointer;
}
.user-message__icon,
.user-nofity__icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.mess-icon__red {
	border: 1px solid #fff;
	background-color: red;
}
.mess-icon__green {
	border: 1px solid #fff;
	background-color: green;
}
.user__nofity {
	position: relative;
	background-image: url('/img/user-nofity.svg');
	width: 19px;
	height: 22px;
	background-size: 19px;
	background-repeat: no-repeat;
	margin-right: 17px;
	cursor: pointer;
}
.user__menu {
	background-image: url('/img/user.png');
	width: 40px;
	height: 40px;
	background-size: 40px;
	background-repeat: no-repeat;
	border-radius: 50px;
	border: 1px solid #fff;
	box-sizing: border-box;
	background-position: center;
	cursor: pointer;
}

nav {
	background-color: #fff;
	height: 30px;
	margin-bottom: 15px;
}
.nav__inner {
	padding-left: 295px;
}
.nav__link {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #89B0C0;
	font-weight: 500;
	font-size: 18px;
	padding-right: 30px;
	line-height: 30px;
}
.nav__link:last-child {
	padding-right: 0;
}
.nav__link:hover {
	color: #34738D;
}
.nav__active {
	color: #34738D;
}


/* -----end Header----- */

/* ---aside---- */
aside {
	width: 260px;
	border: 1px solid #89B0C0;
	border-radius: 3px;
}

.aside__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sidebar__header-title {
	color: #222222;
	font-size: 14px;
	font-weight: 400;
}
.aside__header .fa {
	color: #89B0C0;
}
.top .sidebar__header-title {
	color: #FFF;
	font-size: 20px;
	font-weight: 500;
}
.top .fa {
	color: #FFF;
}

.aside__header {
	height: 48px;
	padding: 0 16px;
	border-bottom: 1px solid #89B0C0;
}

.aside__header-wrap:first-child .aside__header {
	background-color: #89B0C0;
}

.sort-items {
	padding: 12px 30px;
	background-color: #fff;
}

.aside__header-wrap:last-child .sort-items {
	border-radius: 0 0 3px 3px;
}
.reset-sort {
	display: block;
	color: #DB4646;
	font-size: 10px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.sort-item {
	display: flex;
	align-items: center;
	color: #35464E;
	font-size: 13px;
	font-weight: 400;
	padding-bottom: 10px;
}
.sort-item__name,
.sort-item__current {
	padding-left: 5px;
}
